<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <link href="http://getbootstrap.com/examples/signin/signin.css" rel="stylesheet">


</head>
<body ng-app="school" data-ng-controller="indexCtrl" data-ng-init="checkLogin()" data-ng-cloak>
<div data-ng-if="user">
    <h2>Hello {{user.username}} </h2>
    <a href="/logout">Logout</a>

</div>
<div data-ng-if="!user">
    <a href="#/register">Register</a>
    <a href="#/login">Login</a>
</div>

<!-- MAIN CONTENT -->
<div class="container">
<div data-ng-if="user">
    <div class="col-md-6"><h2>Add</h2>
        <ul>
            <li><a href="#/add/students">Add Student</a></li>
            <li><a href="#/add/teachers">Add Teacher</a></li>
            <li><a href="#/add/subjects">Add Subject</a></li>
        </ul>
    </div>
    <div class="col-md-6"><h2>List</h2>
        <ul>
            <li><a href="#/list/students">List Student</a></li>
            <li><a href="#/list/teachers">List Teacher</a></li>
            <li><a href="#/list/subjects">List Subject</a></li>
        </ul>
    </div>



</div>
    <!-- THIS IS WHERE WE WILL INJECT OUR CONTENT ============================== -->
    <div ui-view></div>

</div>

<script type="text/javascript" src="/lib/angular/angular.js"></script>
<script type="text/javascript" src="/lib/angular-resource/angular-resource.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.8/angular-ui-router.min.js"></script>
<script type="text/javascript" src="/lib/angular-promise-tracker/promise-tracker.min.js"></script>

<script src="/javascripts/app.js"></script>
<script src="/javascripts/services/entity.js"></script>
<script src="/javascripts/controllers/indexController.js"></script>
<script src="/javascripts/controllers/entityrecordsCtrl.js"></script>

</body>
</html>
