
<div class="container">
  <div class="row centered-form">
        <div class="col-xs-12 col-sm-8 col-md-4 col-sm-offset-2 col-md-offset-4">
        	<div class="panel panel-default">
    <form class="form-signin" action="/register" method="post">
        <h2 class="form-signin-heading text-center">Register</h2>

        <label for="username" class="sr-only">Username</label>
        <input type="text" id="username" name="username" class="form-control" placeholder="Username" required autofocus>

        <label for="name" class="sr-only">Name</label>
        <input type="text" id="name" name="name" class="form-control" placeholder="Name" required autofocus>

        <label for="email" class="sr-only">E-mail</label>
        <input type="email" id="email" name="email" class="form-control" placeholder="E-mail" required>

        <label for="password" class="sr-only">Password</label>
        <input type="password" name="password" id="password" class="form-control" placeholder="Password" required>
        <select name="role" id="role" class="form-control" placeholder="role" required>
            <option value="">Select role *</option>
            <option value="teacher">teacher *</option>
            <option value="student">student *</option>

        </select>

        <button class="btn btn-lg btn-primary btn-block" type="submit">Register</button>
    </form>

    </div>
        </div>
    </div>
</div>
